
<tbody>
	<tr class="row2">

		<td valign="middle" align="center">
			<a name="p948856"></a>
			<b class="postauthor">pjduplooy</b>
		</td>
		<td width="100%" height="25">
			<table width="100%" cellspacing="0">
				<tbody>
					<tr>

						<td class="gensmall" width="100%"><div style="float: left;"><br><a href="./viewtopic.php?p=948856#p948856"><img src="./styles/rinDark/imageset/icon_post_target.gif" alt="Post" title="Post" width="12" height="9"></a>&nbsp;<b>Post subject:</b> Re: Train Simulator 2015&nbsp;&nbsp;&nbsp;</div><div style="float: right;"><b>Posted:</b> Thursday, 18 Sep 2014, 21:00&nbsp;&nbsp;&nbsp;<a href="./posting.php?mode=quote&amp;f=10&amp;p=948856"><img src="./styles/rinDark/imageset/en/icon_post_quote.gif" alt="Reply with quote" title="Reply with quote"></a> </div></td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>

	<tr class="row2">

		<td class="profile" valign="top">
			<table width="150" cellspacing="4" align="center">

				<tbody>
					<tr>
						<td class="postdetails">Super flooder Почетный графоман</td>
					</tr>

				</tbody>
			</table>

			<span class="postdetails">

				<b>Joined:</b> Monday, 14 Aug 2017, 23:20<br><b>Posts:</b> 964
			</span>

		</td>
		<td valign="top">
			<table width="100%" cellspacing="5">
				<tbody>
					<tr>
						<td>


							<div class="postbody"><span style="font-weight: bold"><span style="font-style: italic">USEFUL LINKS:</span></span><br><br><!-- l --><a class="postlink-local" href="https://cs.rin.ru/forum/viewtopic.php?p=2002964#p2002964">viewtopic.php?p=2002964#p2002964</a><!-- l --><br><br>(Zippyshare links provided by ViaMala, which I would estimate 90% works.<br><br>Edit:  23 September 2020:  ViaMala has updated this post, and added a lot of stuff!!!!!<br><br><br><!-- m --><span class="link_removed"> <span style="font-style: italic; color: #96964C">[[Please login to see this link.]]</span></span><!-- m --><br><br>(Rutracker entries for Train Simulator.  Very Very useful.  Do yourself a favour and register on Rutracker!!)</div>


							<br><br>
							<span class="gensmall">Last edited by <a href="./memberlist.php?mode=viewprofile&amp;u=750754">pjduplooy</a> on Wednesday, 23 Sep 2020, 14:32, edited 241 times in total.</span>
							<br clear="all"><br>

							<table width="100%" cellspacing="0">
								<tbody>
									<tr valign="middle">
										<td class="gensmall" align="right">
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>

	<tr class="row2">

		<td class="profile"><strong><a href="#wrapheader">Top</a></strong></td>
		<td><div class="gensmall" style="float: left;">&nbsp;<a href="./memberlist.php?mode=viewprofile&amp;u=750754"><img src="./styles/rinDark/imageset/en/icon_user_profile.gif" alt="Profile" title="Profile"></a> &nbsp;</div> <div class="gensmall" style="float: right;">  <span style="vertical-align: 4px;"></span>  </div></td>

	</tr>

	<tr>
		<td class="spacer" colspan="2" height="1"><img src="images/spacer.gif" alt="" width="1" height="1"></td>
	</tr>
</tbody>