@model ThreadDetailsVM
@{
	this.ViewData["Title"] = Model.Thread.Title;
}

<table width=100% cellspacing="1" style="border: 1px solid black;">
	<tbody>
		<tr>
			<td>
				Username
			</td>
			<td>
				Thread Subject + Posted on to the right
			</td>
		</tr>

		<tr>
			<td>UserData + picture</td>
			<td>Thread content</td>
		</tr>

		<tr>
			<td>redirect to top</td>
			<td>edited on</td>
		</tr>

		<tr>
			acts as seperator
		</tr>

	</tbody>
</table>