@{
    string loggedUserId = "0";
    string loggedUser = "Anonymous";
    bool loggedIn = User.Identity.IsAuthenticated;
    if (loggedIn)
    {
        loggedUserId = User.Claims.FirstOrDefault(claim => claim.Type == "LoggedUserId").Value;
        loggedUser = User.Claims.FirstOrDefault(claim => claim.Type == "Username").Value;
    }
    bool hasProfilePic = File.Exists($"wwwroot/ProfilePictures/{loggedUser}.jpg");
    string profilePicName = hasProfilePic ? $"{loggedUser}.jpg" : "default.jpg";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/application.css" />
    <title>Paranormality - @this.ViewData["Title"]</title>
</head>

<body>
    <div class="grid-container">

        <div class="grid-logo" >
            <img style="width:100%"src="~/images/truthisoutthere.jpg" alt="Picture saying the truth is out there.">
        </div>

        <div class="grid-header grid-centered">
            <div class="topnav">
                <div class="appHeadingText">
                    <div>PARANORMALITY</div>
                </div>
                <nav class="grid-centered">
                    <ul>
                        @{
                            if (this.ViewData["Title"].ToString() != "Home")
                            {
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            }

                            if (loggedIn)
                            {
                                if (this.ViewData["Title"].ToString() != "All discussions")
                                {
                                    <li><a asp-controller="Threads" asp-action="Index">All discussions</a></li>
                                }
                                if (this.ViewData["Title"].ToString() != "Start topic")
                                {
                                    <li><a asp-controller="Threads" asp-action="Create">Start topic</a></li>
                                }                                
                            }
                            if (this.ViewData["Title"].ToString() != "About")
                            {
                                <li><a asp-controller="Home" asp-action="About">About</a></li>
                            }                            
                            if (loggedIn)
                            {
                                <li><a href="/api/swagger">API access</a></li>
                            }

                        }
                    </ul>
                </nav>
            </div>
        </div>
        <div class="grid-user">
            @{
                if (loggedIn)
                {
                    <div>
                        <img style="width:50px;height:auto;margin-bottom:20px;margin-top:20px"
                             src="/ProfilePictures/@profilePicName" class="appProfilePicture" /></div>
                    if (this.ViewData["Title"].ToString() != "Profile")
                    {
                        <div><a asp-controller="Users" asp-action="Profile" asp-route-id="@loggedUserId">Your profile</a></div>
                    }                    
                    <div><a asp-controller="Users" asp-action="Logout">Logout</a>  </div>
                                      
                }
                
            }
        </div>

        <div class="grid-menu">Forum stats:</div>

        <div class="grid-main">
            @RenderBody()
        </div>

        <div class="grid-right"></div>

        <div class="grid-footer grid-centered">
            <div class="grid-centered" style="text-align:center;">
                © copyright @DateTime.Now.Year Paranormality.com
            </div>
        </div>
    </div>
</body>

</html>
