@{
    string loggedUserId = "0";
    if (User.Identity.IsAuthenticated)
    {
        loggedUserId = User.Claims.FirstOrDefault(claim => claim.Type == "LoggedUserId").Value;
    }
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/application.css" />
    <title>Paranormality - @this.ViewData["Title"]</title>
</head>

<body>
    <div class="grid-container">

        <div class="grid-logo">
            <img src="~/images/truthisoutthere.jpg" alt="Picture saying the truth is out there.">
        </div>

        <div class="grid-header">
            <div class="topnav">
                <div class="appHeadingText">
                    <h1>PARANORMALITY</h1>
                </div>
                <nav>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Threads" asp-action="Index">All discussions</a></li>
                        <li><a asp-controller="Threads" asp-action="Create">Start topic</a></li>  
                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                        <li><a href="/api/swagger" style="right:10%;">Admin API access</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="grid-user">
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <div class="dropdown">
                        <button class="dropbtn">User Menu</button>
                        <div class="dropdown-content">
                            <a asp-controller="Users" asp-action="Profile" asp-route-id="@loggedUserId">Your profile</a>
                            <a asp-controller="Users" asp-action="Logout">Logout</a>
                        </div>
                    </div>
                }
                else
                {
                    <p>Anonynous</p>
                }
            }
        </div>

        <div class="grid-menu">Menu</div>
        <div class="grid-main">
            @RenderBody()
        </div>
        <div class="grid-right">Right</div>
        <div class="grid-footer">
            <div>
                <p>
                    © Copyright Paranormality.com
                </p>
            </div>
        </div>
    </div>
</body>

</html>
