@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ForumSystemTeamFour.Models.ViewModels;
@model UserCreateVM;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Paranormality - Register</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/application.css" />
    <style>

    </style>
</head>

<body class="forum-body">

    <header>
        <h2 class="appHeadingText">P A R A N O R M A L I T Y</h2>
    </header>
    <form class="appForm" asp-controller="Users" asp-action="Create" method="post">
        <div>
            <label asp-for="FirstName">First name:</label><br>
            <input asp-for="FirstName" type="text" value="John">
        </div>

        <div>
            <label asp-for="LastName">LastName:</label><br>
            <input asp-for="LastName" type="text" value="Doe">
        </div>

        <div>
            <label asp-for="Email">E-Mail:</label><br>
            <input asp-for="Email" type="text" value="John@Doe.com">
        </div>

        <div>
            <label asp-for="Username">Username:</label><br>
            <input asp-for="Username" type="text" value="Donjoe69">
        </div>

        <div>
            <label asp-for="Password">Password:</label><br>
            <input asp-for="Password" type="password" value="Donjoe69">
        </div>

        <div>
        <label asp-for="Password">Confirm password:</label><br>
        <input asp-for="Password" type="password" value="Donjoe69">
        </div>
    </form>

    <div style="position:absolute;top:77%;left:50%;transform:translate(-50%,-50%);">
        <input type="submit" value="Register"
               class="btn appbtn-outline" style="text-decoration:none">&nbsp
        <a asp-controller="Home" asp-action="Index"
           type="button" class="btn appbtn-outline" style="text-decoration:none">Reconsider...</a>
    </div>
    <footer>

        <div style="text-align:center;padding:10px;margin-top:7px;">
            © copyright Paranormality.com
        </div>
    </footer>

</body>
</html>