@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Paranormality - Logout</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/application.css" />
    <style>
        
    </style>
</head>

<body >
    <div class="appCentered">
        <h1 id="farewellMessenger">See you again soon!</h1>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js'></script>
        <script src="~/js/application.js"></script>
    </div>
    
   

    <footer>
        
        <div style="text-align:center;padding:10px;margin-top:7px;">
            © copyright Paranormality.com
        </div>
    </footer>

</body>
</html>