@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Paranormality - Main page</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/application.css" />
    <style>

    </style>
</head>

<body >

    <header>
        <h2 class="appHeadingText">P A R A N O R M A L I T Y</h2>
        <div class="topnav">
            @{
                var loggedUserId = User.Claims.FirstOrDefault(claim => claim.Type == "LoggedUserId").Value;
            }
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Threads" asp-action="Index">All discussions</a>
            <a asp-controller="Threads" asp-action="Create">Start topic</a>
            <a asp-controller="Users" asp-action="Profile" asp-route-id="@loggedUserId">Your profile</a>
            <a asp-controller="Home" asp-action="Logout">Logout</a>
            <a href="/api/swagger" style="left:50%;">Admin API access</a>
        </div>
    </header>


    <footer>

        <div style="text-align:center;padding:10px;margin-top:7px;">
            © copyright Paranormality.com
        </div>
    </footer>

</body>
</html>