@using ForumSystemTeamFour.Models;
@using System.IO;
@{
    this.ViewData["Title"] = "Profile";
    
}
@model User;
@{
    string loggedUserId = User.Claims.FirstOrDefault(claim => claim.Type == "LoggedUserId").Value;
    string loggedUsername = User.Claims.FirstOrDefault(claim => claim.Type == "Username").Value;
    bool ownProfile = loggedUsername == Model.Username;
    
    string welcomeMessage = ownProfile ? $"Welcome, {loggedUsername}!" : $"{Model.Username}'s profile.";
    string statsMessage = ownProfile ? "Your activity history:" : $"{Model.Username}'s activity history:";
    string userThreadsMessage = ownProfile ? "Show your threads" : $"Show {Model.Username}'s threads";
    string userPostsMessage = ownProfile ? "Show your posts" : $"Show {Model.Username}'s posts";
    int totalThreads = Model.Threads.Count();
    int totalPosts = Model.Replies.Count();
    bool hasProfilePic = File.Exists($"wwwroot/ProfilePictures/{Model.Username}.jpg");
    string profilePicName = hasProfilePic ? $"{Model.Username}.jpg" : "default.jpg";

}


@{

}
<div class="appBelowHeader">
    @welcomeMessage
    <div>
        <img src="/ProfilePictures/@profilePicName" class="appProfilePicture" />
    </div>






</div>

<div class="appCentered">

    @statsMessage<br />
    Threads created: @totalThreads<br />
    Total posts: @totalPosts <br />

</div>
<div class="appAboveFooter">
    @if (totalThreads > 0)
    {
        <a asp-controller="" asp-action="">@userThreadsMessage</a>

    }
    <br />
    @if (totalPosts > 0)
    {
        <a asp-controller="" asp-action="">@userPostsMessage</a>
    }
</div>
