<html>
    
    <body style="background-color:black">

        <h1 >
            Welcome to Paranormality
        </h1>
        
            <h2>
                <img src="~/images/truthisoutthere.jpg" />
            </h2>
        
                <h3>
                    <a href="/Home/Error404" class="nav">404</a>
                </h3>

    </body>

</html>