<html>
        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <style>
                a:link {
                    color: white;
                    background-color: transparent;
                    text-decoration: underline;
                }

                a:visited {
                    color: white;
                    background-color: transparent;
                    text-decoration: none;
                }

                a:hover {
                    color: deepskyblue;
                    background-color: transparent;
                    text-decoration: underline;
                }

                a:active {
                    color: deepskyblue;
                    background-color: transparent;
                    text-decoration: underline;
                }

                img{
                    display:block;
                    margin-left:auto;
                    margin-right:auto;
                    margin-top:15%;            
                }
                .text{
                    position:absolute;
                    text-align:center;
                    top:10%;
                    left:35%;
                    color:white;
                    font-size:70;
                }
  
            </style>
        </head>
            <body style="background-color:black">

            <div class="text">                
                    X-File <b>404</b> not found.<br>
                    <a href="javascript:history.back()">Let's go back.</a>
            </div>

            <img class="image" src="/images/404x1.jpg" width="1000" height="500">
    
                <script>
                    $(document).ready(function () {
                        let images = [                    
                            "/images/404x2.jpg",
                            "/images/404x3.jpg",
                            "/images/404x4.jpg",
                            "/images/404x5.jpg",
                            "/images/404x6.jpg",
                            "/images/404x7.jpg",
                            "/images/404x8.jpg",
                        ];
                        var i = 0;
                        window.setInterval(function () {
                            $('.image').attr("src", images[i]);
                            i = (i == images.length - 1) ? 0 : i + 1;
                        }, 1000);
                    });
                </script>
    </body>
</html>