@{
    this.ViewData["Title"] = "Home";

    string loggedUserId = "0";
    if (User.Identity.IsAuthenticated)
    {
        loggedUserId = User.Claims.FirstOrDefault(claim => claim.Type == "LoggedUserId").Value;
    }
}

<h1>Main Content</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veritatis eaque corporis aliquam vitae nisi iusto? Ipsum reprehenderit, sit incidunt labore placeat, et impedit distinctio delectus commodi accusamus minima iusto.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veritatis eaque corporis aliquam vitae nisi iusto? Ipsum reprehenderit, sit incidunt labore placeat, et impedit distinctio delectus commodi accusamus minima iusto.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veritatis eaque corporis aliquam vitae nisi iusto? Ipsum reprehenderit, sit incidunt labore placeat, et impedit distinctio delectus commodi accusamus minima iusto.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veritatis eaque corporis aliquam vitae nisi iusto? Ipsum reprehenderit, sit incidunt labore placeat, et impedit distinctio delectus commodi accusamus minima iusto.
</p>