@using Microsoft.AspNetCore.Http;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHttpContextAccessor ContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Paranormality - Main page</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/application.css" />
    <style>

    </style>
</head>

<body class="forum-body">

    <header>
        <h2 class="appHeadingText">PARANORMALITY</h2>
        <div class="topnav">
            @{
                var loggedUserId = ContextAccessor.HttpContext.Session.GetString("userId");
            }
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Threads" asp-action="Index" >All discussions</a>
            <a asp-controller="Threads" asp-action="Create" >Start topic</a>
            <a asp-controller="Users" asp-action="Profile" asp-route-id="@loggedUserId" >Your profile</a>
            <a asp-controller="Users" asp-action="Logout">Logout</a>
            @{
                string isAdmin = ContextAccessor.HttpContext.Session.GetString("isAdmin");
                if (isAdmin  == "True")
            {
                <a href="/api/swagger" style="left:50%;">Admin API access</a>
            }
            }
        </div>
    </header>
    <div style="position:absolute"><img src="~/images/truthisoutthere.jpg" /></div>

    <footer>

        <div style="text-align:center;padding:10px;margin-top:7px;">
            © copyright Paranormality.com
        </div>
    </footer>
</body>

</html>