body {
    color: ghostwhite;
    background-color: #212529;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99.5%;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid black;
}

.grid-logo {
    grid-area: logo;
    width: 15vw;
}

.grid-header {
    grid-area: header;
    display: flex;
    height: inherit;
    width: 69vw;
}

.grid-user {
    grid-area: user;
    width: 15vw;
}

.grid-menu {
    grid-area: menu;
    width: 15vw;
}

.grid-main {
    grid-area: main;
    width: 69vw;
    min-height: 70vh;
    padding: 1em;
}

.grid-right {
    grid-area: right;
    width: 15vw;
}

.grid-footer {
    grid-area: footer;    
    padding: 10px 0px 10px 0px;
    border-top: 1px solid black;
}

.grid-container {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    grid-template-areas:
        'logo header header header header user'
        'menu main main main main right'
        'footer footer footer footer footer footer';
    gap: 0.1vw;
    color: ghostwhite;
    background-color: #212529;
    /*background-color: #2196F3;*/
    padding: 0.5vw;
    height: 100%;
    min-height: 100vh;
}

    .grid-container > div {
/*        background-color: rgba(255, 255, 255, 0.8);
*/        text-align: center;
        padding: 0.1vh 0;
        font-size: 1em;
    }

.grid-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-title {
    font-size: larger;
    letter-spacing: 0.7em;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    color: ghostwhite;
    padding-left: 1em;
}

.appHeadingText {
    font-family: monospace;
    font-size: 3.5vw;
    text-shadow: 0 20px 15px black;
    color: ghostwhite;
    letter-spacing: 2vw;
}

.nav {
    width: fit-content;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
}

li {
    float: left;
    font-size: medium
}

    li a {
        display: block;
        color: ghostwhite;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }

/* Dropdown menu styles */

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 1em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -1em;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#messenger {

    position: absolute;
    top: 7.4%;
    left: 50.1%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-size: 3.5vw;
    white-space: nowrap;
    text-shadow: 0 20px 15px black;
    color: ghostwhite;
    letter-spacing: 2vw;
}

#farewellMessenger {
    
    font-family: monospace;
    font-size: 3.5vw;
    white-space: nowrap;
    text-shadow: 0 20px 15px black;
    color: ghostwhite;    
}

.appTable {
    position: center;
    margin-left: auto;
    margin-right: auto;
}





a:link {
    color: ghostwhite;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: ghostwhite;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #3090C7;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #3090C7;
    background-color: transparent;
    text-decoration: underline;
}

.appImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}



.appBtn-outline {
    --bs-btn-color: #fff;
    --bs-btn-border-color: ghostwhite;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #52595D;
    --bs-btn-hover-border-color: black;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #50C878;
    --bs-btn-active-border-color: black;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;    
}

.topnav {
    overflow: hidden;
    padding: 0 1em;    
}

    .topnav a {
        float: left;
        color: ghostwhite;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #254117;
            color: ghostwhite;
        }

.form-error {
    width: 100%;
    padding: 0.5em;
    color: #FFFF33;
}

.reply-view {
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
}

.reply-content-readonly {
    background: #212529;
    width: 100%;
    height: 40vh;
    min-height: 20vh;
    max-height: 50vh;
}
.reply-content-readwrite {
    background: #52595D;
    width: 100%;
    height: 40vh;
    min-height: 20vh;
    max-height: 50vh;
}

.reply-content-delete {
    background-image: url(../../Images/closed-stamp-5.png);
    background-position: center;
    background-blend-mode: color-burn;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}

.reply-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    font-size: 0.7em;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    padding: 0.5em 0;
}

.appCentered {
    min-height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.appBelowHeader {
    position: absolute;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.appAboveFooter {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
}

input[type="text"], textarea {
    background-color: #212529;
    color: ghostwhite;
}

input[type="password"], textarea {
    background-color: #212529;
    color: ghostwhite;
}

.appProfilePicture {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}


input[type=file]::file-selector-button {
    padding:5px;
    border-color: ghostwhite;
    background: #212529;
    border-radius: 20px;
    color: ghostwhite;
    cursor: pointer;
}

    input[type=file]::file-selector-button:hover {
        background: #3090C7;
        border-color: ghostwhite;
    }
