
#messenger {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-size: 60px;
    white-space: nowrap;
    text-shadow: 0 20px 15px black;
    color:ghostwhite;
}

.forum-table {
    position: center;
    margin-left: auto;
    margin-right: auto;
    
}

.forum-body {
    color: ghostwhite;
    background-color: #212529;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99.5%;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid black;
}

a:link {
    color: ghostwhite;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: ghostwhite;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #3090C7;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #3090C7;
    background-color: transparent;
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.text {
    position: absolute;
    text-align: center;
    top: 15%;
    width:99%;
    color:ghostwhite;
    font-size:46px
}